<main id="main" class="main">
    <div class="pagetitle">
        <h1>Reservation Form</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Form</li>
                <li class="breadcrumb-item active">Reservation Form</li>
            </ol>
        </nav>
    </div> 
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Reservation</h2>
            <form class="row g-3">
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Client Name: </label> <input type="text"
                            class="form-control">
                    </div>
                    <div class="col-md-6"> <label class="form-label">Adress: </label> <input type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Authorized Representative/ Contact Person: </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4"> <label class="form-label">Contact Nos.</label> <input type="text"
                            class="form-control">
                    </div>

                    <div class="col-md-2"> <label class="form-label">Date of Reservation & Time: </label>
                        <input type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="category">Facilities: </label>
                        <select class="form-select mt-2">
                            <option selected>Select Facilities: </option>
                            <option value="1">Oval</option>
                            <option value="2">Football Field</option>
                            <option value="1">Swimming Pools</option>
                            <option value="1">Outside Courts</option>
                            <option value="1">Training Room</option>
                            <option value="1">Club House/ Capitol Pavilion</option>
                            <option value="1">Lockers</option>
                            <option value="1">Davonor Gym</option>
                        </select>
                    </div>
                    <!-- <div class="col-md-2">
                        <label for="category">Time: </label>
                        <select class="form-select mt-2">
                            <option selected>Select Time: </option>
                            <option value="1">5am-5pm</option>
                            <option value="2">5pm-9pm</option>
                        </select>
                    </div> -->
                    <div class="col-md-6"> <label class="form-label">Nature of Event: </label> <input type="text"
                            class="form-control">
                    </div>

                    <div class="col-md-2"> <label class="form-label">Fax No.</label> <input type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2"> <label class="form-label">Event Date: </label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2"> <label class="form-label">Start: </label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-md-2"> <label class="form-label">End: </label>
                        <input type="time" class="form-control">
                    </div>
                    <div class="col-md-2"> <label class="form-label">No. of Participants: </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="exampleFormControlTextarea1">Remarks:</label>
                        <textarea class="form-control" id="" rows="4"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="container">
                        <div class="text-right">
                            <button class="btn btn-primary rounded-pill px-3" type="button">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>