<main id="main" class="main">
    <div class="pagetitle">
        <h1>Utility</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Utility</li>
                <li class="breadcrumb-item active">Facilities</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Facilities</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="row mt-3">
                                    <div class="col-md-12"> <label class="form-label">Category: </label>
                                        <select class="form-select" aria-label="Default select example" name="myData"
                                            [(ngModel)]="addData.categoryId">
                                            <option *ngFor="let item of dataListFacilityCategories"
                                                [value]="item.categoryId">
                                                {{ item.categoryName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"> <label class="form-label">Facility Name: </label>
                                        <input type="text" class="form-control" name="myData"
                                            [(ngModel)]="addData.facilityName">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6"> <label class="form-label">Day rate/hour </label>
                                        <input type="text" class="form-control" name="myData"
                                            [(ngModel)]="addData.dayRperH">
                                    </div>
                                    <div class="col-md-6"> <label class="form-label">Night rate/hour </label>
                                        <input type="text" class="form-control" name="myData"
                                            [(ngModel)]="addData.nightRperH">
                                    </div>
                                </div>
                                <div class="">
                                    <button (click)="AddFacilities()" type="button" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3">
                                <div class="row mt-3">
                                    <h1 class="card-title">Rates</h1>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Facility Name</th>
                                                <th scope="col">Day rate/hour</th>
                                                <th scope="col">Night rate/hour</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dataItem of dataListPrice; let i = index">
                                                <td>{{i+1}}</td>
                                                <td>{{dataItem.categoryName}}</td>
                                                <td>{{dataItem.facilityName}}</td>
                                                <td>{{dataItem.dayRperH}}</td>
                                                <td>{{dataItem.nightRperH}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>