<main id="main" class="main">
    <div class="pagetitle">
        <h1>Reservation Form</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Form</li>
                <li class="breadcrumb-item active">Reservation Form</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Reservation</h5>
            <form class="row g-3">
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Client Name: </label> <input type="text"
                            class="form-control"></div>
                    <div class="col-md-6"> <label class="form-label">Adress: </label> <input type="text"
                            class="form-control"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"> <label class="form-label">Authorized Representative/ Contact Person: </label>
                        <input type="text" class="form-control"></div>
                    <div class="col-md-4"> <label class="form-label">Contact Nos.</label> <input type="text"
                            class="form-control"></div>
                    <div class="col-md-2"> <label class="form-label">Fax No.</label> <input type="text"
                            class="form-control"></div>
                </div>
                <div class="row mt-3">

                    <div>
                        <button mat-raised-button color="primary">Click me!</button>
                        <mat-icon>favorite</mat-icon>
                    </div>
                      
                </div>
                <div class="col-md-6"> <label for="inputEmail5" class="form-label">Email</label> <input type="email"
                        class="form-control" id="inputEmail5"></div>
                <div class="col-md-6"> <label for="inputPassword5" class="form-label">Password</label> <input
                        type="password" class="form-control" id="inputPassword5"></div>
                <div class="col-12"> <label for="inputAddress5" class="form-label">Address</label> <input type="text"
                        class="form-control" id="inputAddres5s" placeholder="1234 Main St"></div>
                <div class="col-12"> <label for="inputAddress2" class="form-label">Address 2</label> <input type="text"
                        class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"></div>
                <div class="col-md-6"> <label for="inputCity" class="form-label">City</label> <input type="text"
                        class="form-control" id="inputCity"></div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2"> <label for="inputZip" class="form-label">Zip</label> <input type="text"
                        class="form-control" id="inputZip"></div>
                <div class="col-12">
                    <div class="form-check"> <input class="form-check-input" type="checkbox" id="gridCheck"> <label
                            class="form-check-label" for="gridCheck"> Check me out </label></div>
                </div>
                <div class="text-end class">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</main>